{% extends 'front_office/layout.html.twig' %}

{% block title %}
	EK - 404
{% endblock %}

{% block content %}
	<div class="row">
		<div class="main col-lg-12 text-center">
			<div class="error">
				<img src="/public/assets/front-office/img/404.png" class="img-fluid" alt="Erreur 404">
				<h3 class="text-uppercase">Page non trouvée</h3>
				<p class="lead">Désolé, la page que vous recherchez n'existe pas.</p>
				<div class="buttons">
					<a href="/" class="btn-fill">Retour à la page d'accueil</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
