<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/assets/front-office/styles.css"/>
		{% block stylesheets %}{% endblock %}
	</head>

	<body>
		{# Navbar #}
		<nav class="navbar navbar-expand-xl fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/"><img class="w-100" src="/public/assets/front-office/img/logo.png" alt="EK"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link {% if route == '/' %} active {% endif %}" href="/">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/#cv">Mon CV</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if route == '/blog' %} active {% endif %}" href="/blog">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if route == '/#contact' %} active {% endif %}" href="/#contact">Contact</a>
						</li>
					</ul>
					<ul class="right navbar-nav ms-auto">
					{% if sessionUser is not null %}

						<li class="nav-item-right d-flex align-items-center user-menu mb-xl-0 mb-3">
							<img src="/public/assets/back-office/img/user.png" alt="avatar" class=""/>
							<span class="fw-bold fs-6 ms-2 me-4 ">{{ sessionUser.firstname|capitalize }} {{sessionUser.lastname|capitalize }}</span>
						</li>
						{% if sessionUser.isAdmin == TRUE %}
							<li class="nav-item-right">
								<a class="nav-link-right" href="/dashboard">Tableau de bord</a>
							</li>
						{% endif %}
						<li class="nav-item-right">
							<a class="nav-link-right btn-fill" href="/logout">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item-right">
							<a class="nav-link-right" href="/signup">S'inscrire</a>
						</li>
						<li class="nav-item-right">
							<a class="nav-link-right btn-fill" href="/signin">Connexion</a>
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{# Content #}
		<main>
			<div class="container">
			{% block content %}{% endblock %}
			</div>
			{% for messages in flashMessage %}
				{% for type, message in messages %}
					<div class="toast-container fixed-bottom w-100" style="z-index:100">
						<div class="toast w-100 bg-{{type}} text-white border-0 rounded-0 show" role="alert" aria-live="assertive" aria-atomic="true">
							<div class="d-flex">
								<div class="toast-body w-100 fs-5 p-3 text-center fw-bold">
										{{ message }}
								</div>
								<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</main>
		{# Footer #}
		<footer>
			<div class="container text-center text-md-start py-5">
				<div class="footer-wrap">
					<div class="about">
						<img src="/public/assets/front-office/img/logo.png" alt="EK">
						<p class="text-muted py-4">
							Lorem ipsum dolor sit amet, consectetur adip
						</p>
						<div class="social-media">
							<a href="" class="me-2 text-reset"><img src="/public/assets/front-office/img/github.svg" alt=""></a>
							<a href="" class="me-2 text-reset"><img src="/public/assets/front-office/img/social-media-linkedin.svg" alt=""></a>
						</div>
					</div>
					<div class="nav-footer">
						<h6 class="fw-bold">Liens</h6>
						<p><a href="/">Accueil</a></p>
						<p><a href="/#cv">Mon CV</a></p>
						<p><a href="/blog">Blog</a></p>
						<p><a href="/#contact">Contact</a></p>
						<p><a href="/signin">Se connecter</a></p>
					</div>
				</div>
				<div class="copyright">
					<p>&copy; 2022 OC-P5 Elisa Klein</p>
				</div>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
