{% extends 'front_office/layout.html.twig' %}

{% block title %}
	EK - Connexion
{% endblock %}

{% block content %}
<div class="row">
		<div class="main col-lg-12 col-xl-6 col-md-12 mx-auto">
			<div class="form-bloc shadow">
					<img src="/public/assets/front-office/img/logo.png" alt="EK" class="mx-auto d-block" />
					<h3 class="mb-4 text-center">Connexion</h3>
					<form action="/signin" method="POST">
						{% if errors is not empty %}
							<div class="alert alert-danger" role="alert">
								<ul>
									{% for message in errors %}
											<li>{{message}}</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
						<div class="form-floating mb-3">
							<input class="form-control" name="email" type="email" placeholder="Email *" {% if user.email is defined %} value="{{ user.email }}" {% endif %}/>
							<label for="email">Email *</label>
						</div>
						<div class="form-floating mb-3">
							<input class="form-control" name="password" type="password" placeholder="Mot de passe *"/>
							<label for="password">Mot de passe *</label>
						</div>
						<div class="d-grid">
							<input type="hidden" name="token" value="{{token}}" />
							<button class="btn-fill mt-0" id="submitButton" type="submit">Se connecter</button>
						</div>
					</form>
			</div>
		</div>
	</div>
{% endblock %}