<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="robots" content="noindex,nofollow"/>
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
		<link href="../assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
		<link href="/public/assets/back-office/css/style.css" rel="stylesheet"/>
		<link href="/public/assets/back-office/css/colors/default.css" id="theme" rel="stylesheet"/> 
		{% block stylesheets %}{% endblock %}
	</head>

	<body class="fix-header fix-sidebar card-no-border">
		<div class="preloader">
			<div class="loader">
				<div class="loader__figure"></div>
				<p class="loader__label">Elisa KLEIN - Blog</p>
			</div>
		</div>
			{# Navbar #}
		<div class="main-wrapper">
		{# Topbar Header #}
			<header class="topbar">
				<nav class="navbar top-navbar navbar-expand-md navbar-light">
					<div class="navbar-header">
						<a class="navbar-brand" href="/dashboard">
							<b>
								<img src="/public/assets/back-office/img/logo.png" alt="EK - Admin" class="dark-logo"/>
							</b>
						</a>
					</div>
					<div class="navbar-collapse">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)">
									<i class="fa fa-bars"></i>
								</a>
							</li>
						</ul>						
						<!-- User profile -->						
						<ul class="navbar-nav my-lg-0">
							<!-- Profile -->							
							<li class="nav-item dropdown u-pro">
								<a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img src="/public/assets/back-office/img/user.png" alt="" class=""/>
									<span class="hidden-md-down">Elisa KLEIN &nbsp;</span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
							</li>
						</ul>
					</div>
				</nav>
			</header>
			<!-- Left Sidebar -->
			<aside class="left-sidebar"> <!-- Sidebar scroll -->
				<div class="scroll-sidebar">
					<!-- Sidebar navigation -->
					<nav class="sidebar-nav">
						<ul id="sidebarnav">
							<li>
								<a class="waves-effect waves-dark {% if route == '/dashboard' %} active {% endif %}" href="/dashboard" aria-expanded="false">
									<i class="fa-solid fa-gauge"></i>
									<span class="hide-menu">Dashboard</span>
								</a>
							</li>
							<li>
								<a class="waves-effect waves-dark" href="/dashboard/posts" aria-expanded="false">
									<i class="fa-solid fa-pen-to-square"></i>
									<span class="hide-menu">Articles</span>
								</a>
							</li>
							<li>
								<a class="waves-effect waves-dark" href="/dashboard/moderation" aria-expanded="false">
									<i class="fa-solid fa-comments"></i>
									<span class="hide-menu">Modération</span>
								</a>
							</li>
							<li>
								<a class="waves-effect waves-dark" href="/dashboard/users" aria-expanded="false">
									<i class="fa-solid fa-users"></i>
									<span class="hide-menu">Utilisateurs</span>
								</a>
							</li>
							<li>
								<a class="waves-effect waves-dark" href="/dashboard/profil" aria-expanded="false">
									<i class="fa-solid fa-address-card"></i>
									<span class="hide-menu">Mon profil</span>
								</a>
							</li>
						</ul>
					</nav>
					<!-- End Sidebar navigation -->
				</div>
			<!-- End Sidebar scroll -->
			</aside>

		{# Content #}
			<main class="page-wrapper">
				<div class="container-fluid"> 
					{% block content %}{% endblock %}
				</div>
				{% if flashMessage is not empty %}
				<div class="toast-container fixed-bottom w-100" style="z-index:100">
					<div class="toast w-100 bg-success text-white border-0 rounded-0 show" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div class="toast-body w-100 fs-5 p-3 text-center fw-bold">							
								{% for message in flashMessage %}
									{{ message }}
								{% endfor %}
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
					</div>
				</div>
				{% endif %}
				<footer class="footer">
					© 2022 OC-P5 Elisa Klein by
					<a href="https://www.wrappixel.com/">wrappixel.com</a>
				</footer>
			</main>
		</div>
		{# Footer #}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/public/assets/back-office/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Menu sidebar -->
		<script src="/public/assets/back-office/js/sidebarmenu.js"></script>
		<!-- Custom JavaScript -->
		<script src="/public/assets/back-office/js/custom.min.js"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
