{% extends 'back_office/layout.html.twig' %}

{% block title %}
  EK - Mise à jour de l'article
{% endblock %}
{% block stylesheets %}
	<script src="/vendor/tinymce/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}

{% block content %}
	<div class="row page-titles">
		<div class="col-md-12 align-self-center">
			<h3 class="text-themecolor text-center">Mettre à jour l'article</h3>
		</div>
	</div>
	{% include 'back_office/form_post.html.twig' with {'action': 'update'} %}
{% endblock %}

{% block javascripts %}
	<script src="/public/assets/back-office/js/formPost.js"></script>
	{% if post.content is defined %}
		<script>
		setTimeout(() => {tinymce.get('content-tiny').setContent(`{{ post.content | raw }}`)},500);
		</script>
	{% endif %}
{% endblock %}